/* Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+Mono:wght@500;600&display=swap');

body {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 13px;
    margin:  0;
    padding: 0; 
}
.nav {
    display:flex;
    justify-content: space-between;   
    align-items: center;
}
.nav a {
    font-size: 25px;
    text-decoration: none;
    color:black;
    font-weight: bold; 
}
.nav a:hover {
    cursor: pointer;
}
.nav-logo {
    font-size: 50px;
    margin: 5px;
}
.main-background img{
    width: 100%;
    height: 100%;
    margin:auto;
}
.black-background {
    background: rgba(0,0,0,0.5);
    position: fixed; 
    z-index: 5; 
    width: 100%;
    height: 100%;
    display: none;
    transition: all 2s;
}
.login {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.login-type {
    text-align: center;
}
.login-type h3 {
    font-size: 14px;
    text-align: center;
    font-weight: normal; 
    margin: 0;
    padding: 10px 10px 15px 10px;
}
.login-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    align-items: center;
    position: relative;
    margin: 5px 0;
}
.login-state {
    display: flex;
    align-items: center;
    position: relative;
}
.login-state div {
    margin-left: 20px;
}
.login-state div:hover {
    cursor: pointer;
}
.close-btn {
  right: 20px;
  position:absolute 
}
.close-btn:hover {
    cursor: pointer;
}

/* Button Css */
a.btn {
    display: block;
    color: gray; 
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    position: relative; 
}

a.btn1 {
    background-color: #0076fe;;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 17px;
}
a.btn2 {
    background-color: #fff;
    border: 1px solid lightgray;
}
a.btn3 {
    background-color: #fff;
    border: 1px solid  #8ec9ea;
}
a.btn4 {
    background-color: #fff;
    border: 1px solid  #70d979
}
a.btn5 {
    background-color: #fff;
    border: 1px solid #f7df9c;
    margin-bottom: 20px;
}
a.sign-up {
    text-decoration: none;
    color: gray;
}

a.btn2:before {
    content: url(LDH_LION_img/icon_google.png);
    position: absolute; 
    left: 15px;
    top: 15px;
}
a.btn3:before {
    content: url(LDH_LION_img/icon_facebook.png);
    position: absolute; 
    left: 19px;
    top: 15px;
}
a.btn4:before {
    content: url(LDH_LION_img/icon_naver.png);
    position: absolute; 
    left: 15px;
    top: 15px;
}
a.btn5:before {
    content: url(LDH_LION_img/icon_kakao.png);
    position: absolute; 
    left: 15px;
    top: 15px;
}
.or-txt {
    display: block;
    margin: 18px 0 13px  ; 
    position: relative;
    color: gray;    
}

span.or-txt:before { 
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #dedede;
    width:44%;
    height: 1px;
}
span.or-txt:after { 
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    background-color: #dedede;
    width:44%;
    height: 1px;
}

.login-sub-title p:nth-child(1) img { 
    vertical-align: middle;
}
.login-sub-title p:nth-child(1) { 
    text-align: left;
    font-size: 18px;
    padding-left: 20px;
    margin:12px 0 8px;
}

.login-sub-title p:nth-child(2) { 
    text-align: left;
    margin: 6px 0px 12px 8px;
    font-size: 15px;
    color: gray;
}
